/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.idea/Bootcamp-Workshop.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.3.xsd
.idea/scopes/scope_settings.xml
